<!DOCTYPE html>
html(lang="en")
    head
        meta(name="viewport", content="initial-scale=1.0")
        meta(charset="UTF-8")
        title Rick Portal Gun
        link(rel="stylesheet", href="/css/reset.css")
        link(rel="stylesheet", href="/css/main.css")
        <link href="https://fonts.googleapis.com/css?family=Viga&display=swap" rel="stylesheet">
        <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
        <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
        <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script> 
        <script src="/components/Header.js" type="text/jsx" crossorigin></script> 
        <script src="/components/Description.js" type="text/jsx" crossorigin></script>
        <script src="/components/Form.js" type="text/jsx" crossorigin></script> 
        <script src="/components/Card.js" type="text/jsx" crossorigin></script> 
        //- <script src="/components/App.js" type="text/jsx" crossorigin></script> 
    body
        #root
    script(type='text/jsx').
        class App extends React.Component {
            render(){
                return (
                    <div>
                        <Header />
                        <main>
                            <Description />
                            <Form />
                            <h1> {this.props.mensagem} </h1>
                            <section className="api-data">
                                <Card />
                            </section>
                        </main>
                    </div>
                );
            }
        }
        const domContainer = document.querySelector('#root');
        ReactDOM.render(<App mensagem='!{mensagem}'/>, domContainer);