<!DOCTYPE html>
html(lang="en")
    head
        meta(name="viewport", content="initial-scale=1.0")
        meta(charset="UTF-8")
        title Rick Portal Gun
        link(rel="stylesheet", href="/css/reset.css")
        link(rel="stylesheet", href="/css/main.css")
        <link href="https://fonts.googleapis.com/css?family=Viga&display=swap" rel="stylesheet"> 
    body
        #root
    script(src="bundle.js")