<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        title Rick Portal Gun
        script(src="/css/main.css")
    body
        header
            nav
                a(href="/") Rick Portal Gun
        main
            h1 Rick Portal Gun
        footer
            a(href="https://leandrols.github.io", target="__blank") Blog