*, body {
    font-family: 'Viga', sans-serif;
    box-sizing: border-box;
}

body {
    background-image: url('/images/rick-wallpaper2.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #1A191A;
}

.header {
    width: 100%;
    padding: 1rem;
}

.header__link {
    display: inline-block;
    margin: 0px 1rem;
}

.header__link a {
    padding-bottom: 0.2rem;
}

.header__link a:hover {
    border-bottom: 2px solid #8BCF21;
}


main {
    width: 80%;
    margin: auto;
}

.project-description__title {
    text-align: center;
    font-size: 2.8rem;
}

.project-description__subtitle {
    padding-top: 2%;
    text-align: center;
    font-size: 2rem;
}

.search-form {
    height: 300px;
    width: 300px;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    font-size: 1.1rem;
}

.search-form__input {
    width: 100%;
    padding: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 5px;
}

.api-data {
    height: 1000px;
    height: auto;
    text-align: center;
}

.card {
    background-color: #E7E0DB;
    width: 300px;
    display: inline-block;
    margin: 1%;
    height: 45%;
    border-radius: 5px;
    overflow: hidden;
}

.card:hover {
    box-shadow: 4px 4px #00afc8;
}

.card__image {
    width: 100%;
    height: auto;
}

.card__character-name {
    text-align: center;
    font-size: 1.4rem;
    font-weight: bold;
    margin-top: 0.4rem;
}

.card__character-info {
    margin-top: 0.4rem;
    margin-left: 0.4rem;
    padding: 0.4rem;
}

.card__character-info p {
    display: inline-block;
    text-align: right;
    width: calc(100% - 65px);
}


.rick-tittle {
    color: #00afc8;
    text-shadow: 1px 1px #d2e857;
}

a {
    text-decoration: none;
    color: #8BCF21;
}


button {
    padding: 0.5rem;
    background-color: #d2e857;
    border: none;
    border-radius: 5px;
}

button:hover,
.pagination__item:hover {
    background-color: #00afc8;
    color: white;
}

.pagination {
    width: 50%;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 2%;
}

.pagination__item {
    display: inline-block;
    padding: 1.1rem;
    background-color: #d2e857;
    color: black;
    border-right: 1px solid black;
}