/* teste */
*, body {
    font-family: 'Viga', sans-serif;
    box-sizing: border-box;
}

body {
    background-image: url('/images/rick-wallpaper2.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #1A191A;
    background-position: center;
}

.header {
    width: 100vw;
    padding: 1rem;
}

.header__link {
    display: inline-block;
    margin: 0px 1rem;
}

.header__link a {
    padding-bottom: 0.2rem;
}

.header__link a:hover {
    border-bottom: 2px solid #8BCF21;
}


main {
    width: 80vw;
    margin: auto;
}

.project-description {
    text-align: center;
}

.project-description h1 {   
    text-align: center;
    font-size: 2rem;
}

.project-description p {
    font-size: 1.3rem;
    margin-top: 1.5%;
}

.search-form {
    height: 30vh;
    width: 80vw;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    font-size: 1.1rem;
    text-align: center;
}

.search-form__input {
    width: 100%;
    padding: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 5px;

}



.api-data {
    height: 85vh;
    height: auto;
    text-align: center;
}

.card {
    background-color: #E7E0DB;
    width: 90vw;
    max-width: 300px;
    margin: 1%;
    height: 45%;
    border-radius: 5px;
    overflow: hidden;
}


.card__image {
    max-width: 300px;
    max-height: 300px;
    width: 100%;
    height: auto;
}

.card__character-name {
    text-align: center;
    font-size: 1.4rem;
    font-weight: bold;
    margin-top: 0.4rem;
}

.card__character-info {
    margin-top: 0.4rem;
    margin-left: 0.4rem;
    margin-bottom: 0.4rem;
    padding: 0.5rem;
    border-bottom: 1px solid black;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.card__character-info--title {
    width: 50%;
    text-align: center;
    display: inline-block;
}

.card__character-info--value {
    width: 50%;
    text-align: center;
    display: inline-block;
    color: orange;
}

@media(min-width:38rem){
    .card {
        display: inline-block;
    }

    .card:hover {
        box-shadow: 4px 4px #00afc8;
    }
    .search-form__input {
        width: 25rem;
    }
}


.rick-tittle {
    color: #00afc8;
    text-shadow: 1px 1px #d2e857;
}

a {
    text-decoration: none;
    color: #8BCF21;
}


button {
    padding: 0.5rem;
    background-color: #d2e857;
    border: none;
    border-radius: 5px;
}

button:hover,
.pagination__item:hover {
    background-color: #00afc8;
    color: white;
}

.pagination {
    width: 50vw;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 2%;
}

.pagination__item {
    display: inline-block;
    padding: 1.1rem;
    background-color: #d2e857;
    color: black;
    border-right: 1px solid black;
}

.error-message {
    color: #c8001b;
    padding: 0.5rem;
    font-size: 1.2rem;
    text-align: center;
    margin-top: 1rem;
}