* {
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    background-image: url('/images/rick-wallpaper.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.header {
    width: 100%;
    padding: 16px;
}

.header__link {
    display: inline-block;
    margin: 0px 16px;
}

.header__link a {
    padding-bottom: 3px;
}

.header__link a:hover {
    border-bottom: 2px solid #8BCF21;
}

main {
    width: 80%;
    margin: auto;
}
.project-description__title {
    text-align: center;
    font-size: 48px;
}

.project-description__subtitle {
    text-align: center;
    font-size: 32px;
}

.search-form {
    height: 300px;
    width: 300px;
    margin: auto;
    margin-top: 18px;
    margin-bottom: 8px;
    font-size: 18px;
}

.search-form__input {
    width: 100%;
    padding: 8px;
    margin-top: 8px;
    margin-bottom: 8px;
    opacity: 0.5;
}

.api-data {
    height: 1000px;
}

.card {
    background-color: #E7E0DB;
    width: 300px;
    display: inline-block;
    margin: 1%;
    height: 45%;
    border-radius: 5px;
    overflow: hidden;
}

.card__image {
    width: 100%;
    height: auto;
}

.card__character-name {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-top: 6px;
}

.card__character-info {
    margin-top: 6px;
    margin-left: 6px;
    padding: 6px;
}

.footer {
    padding: 14px;
    background-color: #3d373c;
    position: relative;
}

.rick-tittle {
    color: #00afc8;
    text-shadow: 1px 1px #d2e857;
}

a {
    text-decoration: none;
    color: #8BCF21;
}

a:visited {
    color: #8BCF21;
}

button {
    padding: 8px;
    background-color: #d2e857;
    border: none;
    /* color:white; */
}

button:hover {
    background-color: #00afc8;
    color: white;
}